button, .button{
  /*reset*/
  font: inherit;
  text-decoration: inherit;
  display: inline;
  /*Style*/
  padding: 0.5em;
  color: #121C67;
  background-color: #EDEFF9;
  border: 0.1em solid #121C67;
}

button:hover, .button:hover{
  color: #010317;
  background-color: #7079BD;
  border: 0.1em solid #010317;
}

body{
  margin:0;
  padding:0;
  font-size: 16px;
}

body > header{
  font-size: 1.5em;
  background-color: #FFFDF1;
  border-bottom: 2px solid #968508;
  padding: 0.5em;
  text-align: right;
}

body > header img{
  float:left;
  height: 2em;
}

.hidden{
  display: none;
}